@import '../../assets/stylesheet.scss';

body {
    font-family: $arvo;
    font-weight: bold;
}

.welcome {
    width: 100%;
    height: 50px;
    background-color: $main-color;
    text-align: center;
    line-height: 50px;
}

.welcome span {
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    max-width: 1000px;
    margin: 15vh auto;
}

.login {
    margin-top: 50px;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 50px;
    img {
        width: 32px;
    }
    span {
        font-size: 32px;
        color: $main-color;
        margin-left: 20px;
    }
}

.login-box {
    width: 370px;
    height: 200px;
    background: #EEEEEEEE;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        width: 280px;
        margin-top: 36px;
        margin-bottom: 36px;
        color: $main-color;
    }
}

.login-button {
    width: 245px;
    height: 45px;
    background-color: $main-color;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        width: 32px;
    }
    span {
        font-size: 18px;
        color: white;
        margin-left: 10px;
    }
}

.login-button:hover {
    filter: brightness(0.8);
}

.login-img img {
    width: 550px;
}
