@import '../../assets/stylesheet.scss';

body {
    font-family: $arvo;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    img {
        width: 64px;
    }
    span {
        font-size: 48px;
        color: $main-color;
        margin-left: 20px;
    }
}

.login-box {
    width: 370px;
    height: 200px;
    background: #EEEE;
    border-radius: 10px;
    margin: 39px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        width: 280px;
        margin-top: 36px;
        margin-bottom: 36px;
        color: $main-color;
    }
}

.login-button {
    width: 245px;
    height: 45px;
    background-color: $main-color;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        width: 32px;
    }
    span {
        font-size: 18px;
        color: white;
        margin-left: 10px;
    }
}

.login-button:hover {
    filter: brightness(0.8);
}

