body {
  background-color: #E5E5E5;
}

.header-container {
  width: 100%;
  height: 65px;
  background-color: #fff;
  border: solid 1px #D2D2D2;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 110px;
  line-height: 65px;
}

.logo img {
  width: 32px;
}

.logo span {
  font-size: 24px;
}

.header-top {
  width: 100%;
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logged-dev {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logged-dev-img img{
  width: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

.logged-dev-info {
  display: flex;
  flex-direction: column;
}
.logged-dev-info span {
  font-size: 14px;
  line-height: normal;
}

.logged-dev-info span + span {
  font-size: 11px;
  font-weight: normal;
}

.header-btn img:first-child {
  margin-right: 10px;
}